.aboutCont {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  color: white;
  text-align: center;
  overflow-y: auto;
  height: 100%;
  padding: 1rem;
  max-width: 1920px;
}

.aboutCont > h1 {
  margin-bottom: 5rem;
  user-select: none;
}

.aboutCont > .aboutContacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
  margin-bottom: 4rem;
}

.aboutCont > .aboutContacts > div {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.2rem;
  gap: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.aboutCont > .aboutContacts > div::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 120px;
  height: 120px;
  background: linear-gradient(0deg, transparent, #646cff, #535bf2);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.aboutCont > .aboutContacts > div::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 120px;
  height: 120px;
  background: linear-gradient(0deg, transparent, #646cff, #535bf2);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.aboutCont > .aboutContacts > div:hover,
.numberCounting:hover {
  transform: scale(1.1);
}

.aboutCont > .aboutContacts > div > i {
  font-size: 80px;
  background-color: #28292d;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 1;
}

.numberCountingDiv {
  position: relative;
  width: 45vw;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 2rem;
  user-select: none;
}

.numberCounting {
  width: 100%;
  height: 100%;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5em;
  background-color: #21242b;
  border-bottom: 10px solid #646cff;
  transition: all 300ms ease-in-out;
}
.numberCounting > i {
  color: #646cff;
  font-size: 2.5em;
  text-align: center;
}
.numberCounting > span.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
.numberCounting > span.text {
  color: #e0e0e0;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

@media screen and (max-width: 1024px) {
  .numberCounting {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }

  .numberCountingDiv {
    width: 85vw;
  }
}

@media screen and (max-width: 770px) {
  .aboutCont > .aboutContacts {
    flex-wrap: wrap;
    gap: 3rem;
  }

  .aboutCont > .aboutContacts > div {
    width: 100px;
    height: 100px;
  }

  .aboutCont > .aboutContacts > div > i {
    font-size: 60px;
  }

  .aboutCont > h1 {
    margin-bottom: 3rem;
  }

  .numberCounting {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  }

  .numberCountingDiv {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 550px) {
  .aboutCont {
    height: 150vh;
  }
}

@media screen and (max-width: 480px) {
  .numberCounting {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }

  .numberCountingDiv {
    gap: 15px;
  }
}

@media screen and (max-width: 380px) {
  .aboutCont > h1 {
    font-size: 18px;
  }

  .aboutCont > .aboutContacts {
    gap: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .aboutCont > .aboutContacts {
    gap: 1rem;
  }

  .aboutCont > .aboutContacts > div {
    width: 80px;
    height: 80px;
  }

  .aboutCont > .aboutContacts > div > i {
    font-size: 40px;
  }
}
